    # speech to text and text to speech
realtimestt==0.3.104
realtimetts[kokoro,orpheus]==0.5.5

# Install latest Coqui TTS fork separately
coqui-tts>=0.27.0

# webserver dependencies
fastapi
uvicorn

# configuration
python-dotenv

# llm providers
ollama
openai